.doctors
  margin-top: 60px
  height: 410px
  overflow: hidden
  &-block
    display: flex
    flex-direction: row
    &__image
      overflow: hidden
      margin-right: 30px
    &__text
      display: flex
      flex-direction: column
      justify-content: center
      width: 570px
      padding-left: 40px
      margin-left: -200px
      background: #ffffff
      p
        font-family: 'Manrope', sans-serif
        font-size: 16px
        line-height: 26px
        font-weight: 400
    &__title
      font-family: 'Manrope', sans-serif
      font-size: 30px
      line-height: 64px
      font-weight: 800
