.since
	margin-top: 114px
	height: 435px
	width: 100%
	background-color: #F0F6FB
	>.wrap
		height: 100%
	&-block
		display: flex
		flex-direction: row
		position: relative
		height: 100%
		&__image
			position: absolute
			top: -42px
			right: 0
		&__text
			display: flex
			flex-direction: column
			height: 100%
			justify-content: center
			width: 570px
			p
				font-family: 'Manrope', sans-serif
				font-weight: 400
				font-size: 16px
				line-height: 26px
		&__title
			font-family: 'Manrope', sans-serif
			font-weight: 700
			font-size: 36px
			line-height: 64px
			margin-bottom: 14px
			
		